* {
  box-sizing: border-box;
}
body {
  font-family: Inter;
  width: 500px;
}

nav {
  /* my travel journal */
  height: 70px;
  display: flex;
  justify-content: center;
  font-size: 14.4608px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.045em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  background: #f55a5a;
}
nav .nav--logo {
  padding: 24px;
  margin-right: -18px;
}
.card {
  font-size: 12px;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  column-gap: 10px;
  position: relative;
  padding: 8px;
}
.card--country {
  margin-bottom: -7px;
  align-items: center;
  display: flex;
}
.gmaps {
  margin-left: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918e9b;
}
a:visited {
  text-decoration: none;
  color: #918e9b;
}
.card--pin {
  margin-right: 4px;
}
.card--image {
  width: 125px;
  height: 168px;
  left: 40px;
  top: 100px;
  border-radius: 9px;
  margin-bottom: 9px;
}
.country {
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
}
.location {
  margin: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.date {
  font-style: normal;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  color: #2b283a;
}
.description {
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #2b283a;
  width: 326px;
  height: 45px;
}
